/* static/styles.css */
body {
    font-family: Arial, sans-serif;
    margin-left: 1%;
}

.container-fluid{
    padding: 10px; 
}
.search-container {
    max-width: 600px;
    margin: auto;
   
}
.search-container b{
    color: #333333;
}

.search-form {
    display: flex;
    align-items: center; /* Align items vertically (same height) */
    justify-content: space-between; /* Button will align to the right */
    gap: 10px; /* Add some space between the input and button */
}
.searchbar{
    min-width: 200px;
}

.search-form input {
    flex: 1; /* Makes the input take the remaining space */
    padding: 10px;
    font-size: 16px;
}

.search-form .button {
    background-color: #3b6000;
    font-size: 16px;
    color: aliceblue;
    cursor: pointer; 
    outline: none;
    float: right;
    border: none;
    padding: 10px 20px;
}

.button:hover{
    background-color: #528600;
}

.button:active{
    background-color: #3b6000;
}

.example-text{
    display: inline-block;
    margin-right: 3%;
    font-size: 12px;
    
    color: #949494;
}
/* filter */
/* Dropdown button styling */
.dropdown{
    font-size: 10;
}

.btn-filter-image {
    width: 8%;
    float: inline-end;
}

.dropbtn {
    background-color: #e9e9e9;
    color: #333333;
    padding: 10px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    border-radius: 4%;
    width:90%;
    text-align: left;
}


/* Dropdown content (hidden by default) */
.dropdown-content {
    display: none;
    background-color: 'white';
    border: 1px solid #d0cece;
    width: 90%;
    
}

/* Each selectable option (checkbox) */
.option {
    background-color: 'white';
    color: #333333;
    margin: 2px;
    display: flex;
    align-items: center;
    padding-left: 15px;
    padding-right: 15px;
    cursor: pointer;
}
.option input{
    margin-right: 15px;
    cursor: pointer;

}
/* Show dropdown on button click */
.show {
    display: grid;
}

/* Option hover effect */
.option:hover {
    background-color: #e9e9e9;
}

/*ranger slider*/
.slider-container {
    display: flex;
    align-items: center;
    margin: 10px 0;
    width: 90%;
}

input[type="range"] {
    margin: 0 10px;
    
}

/* legend */
/* Button styling */
.toggle-btn {
    background-color: #3b6000;
    font-size: 16px;
    color: aliceblue;
    cursor: pointer; 
    outline: none;
    border: none;
    padding: 3px 5px;
    border-radius: 50%;
    margin-bottom: 10px;   
    display: block; 
}
.button-image{
    width: 30px;
    height: 30px;
    color: white;
}
.toggle-btn:hover {
    background-color: #528600;
}

.legend {
    margin-top: 10px; /* Ensures some space between the button and the legend */
    padding: 10px;
    border: 1px solid #ccc;
    background-color: #f9f9f9;
    width: 250px;
    display: none; /* Initially hidden */
    position: absolute;
    z-index: 1000;
}
.legend-title {
    font-weight: bold;
    font-size: 14px;
    color: #3b6000;
}
.legend-item-title {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
    font-size: 12px;
}

.legend-item {
    display: flex;
    align-items: center;
    margin-bottom: 2px;
    font-size: 10px;
}

.legend-shape {
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

.circle-query {
    border-radius: 50%;
    background-color: #f09d62;
    border: 1px solid #e3530b;
}

.circle {
    border-radius: 50%;
    background-color: #c7bba9;
    border: 1px solid #a9a6a6;
}
.box {
    background-color: #79e34e;
    border: 1px solid #afaba2;
}
.box-tf {
    background-color: #f5be15;
    border: 1px solid #afaba2;
}




input[type="text"] {
    width: 80%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
}



input[type="submit"]:hover {
    background-color: #218838;
}
