<!-- templates/search.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <!-- <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script> -->

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.13.3/css/selectize.min.css" integrity="sha512-bkB9w//jjNUnYbUpATZQCJu2khobZXvLP5GZ8jhltg7P/dghIrTaSJ7B/zdlBUT0W/LXGZ7FfCIqNvXjWKqCYA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.13.3/js/standalone/selectize.min.js" integrity="sha512-pF+DNRwavWMukUv/LyzDyDMn8U2uvqYQdJN0Zvilr6DDo/56xPDZdDoyPDYZRSL4aOKO/FGKXTpzDyQJ8je8Qw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/voca/1.4.0/voca.min.js" integrity="sha512-yrLbujQF3UPLrlaavtewYmv7OFD8AGO5PS8jg0VKlXP8kW9POHaG/bbpwSbpkqe4SCXVwTtYAMsKdOukT11bxQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/string-format/0.5.0/string-format.min.js" integrity="sha512-umUQjNj1rAebq5zbgyU2sFNEREC48ohuUAdAwTa1qbEibzzbTnJLhj8ASNNsoKkWQ3ef+QjtZvGgVWJulLetxQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <script src="https://cdn.jsdelivr.net/npm/file-saver@2.0.4/dist/FileSaver.min.js"></script>


    <link href="https://cdnjs.cloudflare.com/ajax/libs/vex-js/4.1.0/css/vex.min.css" rel="stylesheet" type="text/css" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/vex-js/4.1.0/css/vex-theme-default.min.css" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/vex-js/4.1.0/js/vex.combined.min.js"></script>
    <script>vex.defaultOptions.className = 'vex-theme-default'</script>

    <!-- context menus -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-contextmenu/2.9.2/jquery.contextMenu.min.js" integrity="sha512-kvg/Lknti7OoAw0GqMBP8B+7cGHvp4M9O9V6nAYG91FZVDMW3Xkkq5qrdMhrXiawahqU7IZ5CNsY/wWy1PpGTQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-contextmenu/2.9.2/jquery.contextMenu.css" integrity="sha512-EF5k2tHv4ShZB7zESroCVlbLaZq2n8t1i8mr32tgX0cyoHc3GfxuP7IoT8w/pD+vyoq7ye//qkFEqQao7Ofrag==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>CKN Visualisation</title>
    <script src="{{ url_for('static', filename='main.js') }}"></script>
    <link href="{{ url_for('static', filename='main.css') }}" rel="stylesheet" />
</head>
<body>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vis-network/9.1.9/standalone/umd/vis-network.min.js" integrity="sha512-iTgTmIgxyA2YehKNVbzLJx4j9SnuC5ihtRrtxVkXH/9nF3vXBN5YeNQp+6wufBWKD3u+roHVNOvWBMufQnBbug==" crossorigin="anonymous" referrerpolicy="no-referrer"></script><!-- vis network -->
    <script src="https://cdn.jsdelivr.net/npm/verge@1.10.2/verge.min.js"></script> <!--verge-->
    
    <div class="container-fluid">  
        <div class="row">
            <div class="col-xs-6 col-sm-5 col-md-5 col-lg-4 col-xl-3 col-xxl-3 border-end border-light border-2" id="configColumn">  
                <div class="search-container">         
                    <h1><b>GENE SEARCH</b></h1>
                    <form class="search-form">
                        <input type="text" name="query" class="searchbar" placeholder="Enter a node name term..." required >
                        <button class="button" id="searchButton">SEARCH</button>
                        
                    </form>
                    <p class="example-text">ex: LOC112017778 LOC112008286</p>
                    <p class="example-text">ex: LOC111995138 LOC112009257 LOC112008346</p>
                    <button class="toggle-btn" type="button" onclick="toggleLegend()">
                        <img src="https://img.icons8.com/?size=100&id=100039&format=png&color=FFFFFF" alt="Legend" class="button-image">             
                    </button>
                    <!--LEGEND-->
                    <div id="legend" class="legend">
                        <div class="legend-title">NETWORK LEGEND</div>
                        <div class="legend-item-title">
                            <span>NODES</span>
                        </div>
                        <div class="legend-item">
                            <div class="legend-shape circle-query"></div>
                            <span> Node Searched</span>
                        </div>

                        <div class="legend-item">
                            <div class="legend-shape circle"></div>
                            <span> Regular Nodes</span>
                        </div>
                        
                        <div class="legend-item">
                            <div class="legend-shape box-tf"></div>
                            <span>Transcription Factors</span>
                        </div>
                        
                        <div class="legend-item">
                            <div class="legend-shape box"></div>
                            <span>Transcription Regulators</span>
                        </div>
                
                    </div>
                </div>
                <!--filter-->
                <div class="dropdown">
                    <button class="dropbtn" onclick="toggleDropdown()">Filter<img src="https://img.icons8.com/?size=100&id=40021&format=png&color=000000" alt="filter" class="btn-filter-image"></button>
                    <div id="dropdownContent" class="dropdown-content">
                        <label class="option">
                            <input type="checkbox" value="0" onclick="toggleRank(0)"> rank 0
                        </label>
                        <label class="option">
                            <input type="checkbox" value="1" onclick="toggleRank(1)"> rank 1
                        </label>
                        <label class="option">
                            <input type="checkbox" value="2" onclick="toggleRank(2)"> rank 2
                        </label>
                        <label class="option">
                            <input type="checkbox" value="3" onclick="toggleRank(3)"> rank 3
                        </label>
                        <label class="option">
                            <input type="checkbox" value="4" onclick="toggleRank(4)"> rank 4
                        </label>
                    </div>
                </div>
                <div class="slider-container">
                    <label for="irpScoreRange">Minimum IRP Score:</label>
                    <input type="range" id="irpScoreRange" min="0" max="1" step="0.001" value="0" oninput="updateRangeValue(this.value)" onchange="filterByIrpScore(this.value)">
                    <span id="rangeValue">0.000</span>
                </div>
                 
            </div>
            <div class="col-xs-6 col-sm-7 col-md-7 col-lg-8 col-xl-9 col-xxl-9" id="networkViewContainer">  
                <div id="networkView"></div>
            </div> 
        </div>
        
        


    </div>
    
    
    
</body>
</html>


